## Importing Necessary Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

## Checking out the dataset

In [2]:
df = pd.read_excel('data/copy_loan.xlsx')
df.sample(3)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
70,LP001243,Male,Yes,0,Graduate,No,3208,3066.0,172.0,360.0,1.0,Urban,Y
249,LP001825,Male,Yes,0,Graduate,No,1809,1868.0,90.0,360.0,1.0,Urban,Y
526,LP002705,Male,Yes,0,Graduate,No,3775,0.0,110.0,360.0,1.0,Semiurban,Y

In [3]:
df.shape

(614, 13)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [5]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

## Cleaning The dataset

In [6]:
df.Dependents.unique()

array([0, 1, 2, '3+', nan], dtype=object)

In [7]:
df.Dependents.value_counts()

Dependents
0     345
1     102
2     101
3+     51
Name: count, dtype: int64

In [8]:
df.Gender.unique(), df.Gender.value_counts()

(array(['Male', 'Female', nan], dtype=object),
 Gender
 Male      489
 Female    112
 Name: count, dtype: int64)

In [9]:
# df[df.Gender.fillna('Male')

In [10]:
df.dropna(subset=['Married'], inplace = True)

In [11]:
df.shape

(611, 13)

In [12]:
df.Gender.unique()

array(['Male', 'Female', nan], dtype=object)

In [13]:
df.Gender.value_counts()

Gender
Male      487
Female    111
Name: count, dtype: int64

In [14]:
df['Gender'] = df.Gender.fillna('Male')

In [15]:
df.Dependents.unique()

array([0, 1, 2, '3+', nan], dtype=object)

In [16]:
df.Dependents.value_counts()

Dependents
0     345
1     102
2     101
3+     51
Name: count, dtype: int64

In [17]:
df.Dependents = df.Dependents.fillna(0)

In [18]:
df.Self_Employed.unique()

array(['No', 'Yes', nan], dtype=object)

In [19]:
df.Self_Employed.value_counts()

Self_Employed
No     497
Yes     82
Name: count, dtype: int64

In [20]:
df[df.Self_Employed.isna()]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
11,LP001027,Male,Yes,2,Graduate,NaN,2500,1840.0,109.0,360.0,1.0,Urban,Y
19,LP001041,Male,Yes,0,Graduate,NaN,2600,3500.0,115.0,NaN,1.0,Urban,Y
24,LP001052,Male,Yes,1,Graduate,NaN,3717,2925.0,151.0,360.0,NaN,Semiurban,N
29,LP001087,Female,No,2,Graduate,NaN,3750,2083.0,120.0,360.0,1.0,Semiurban,Y
30,LP001091,Male,Yes,1,Graduate,NaN,4166,3369.0,201.0,360.0,NaN,Urban,N
95,LP001326,Male,No,0,Graduate,NaN,6782,0.0,NaN,360.0,NaN,Urban,N
107,LP001370,Male,No,0,Not Graduate,NaN,7333,0.0,120.0,360.0,1.0,Rural,N
111,LP001387,Female,Yes,0,Graduate,NaN,2929,2333.0,139.0,360.0,1.0,Semiurban,Y
114,LP001398,Male,No,0,Graduate,NaN,5050,0.0,118.0,360.0,1.0,Semiurban,Y
158,LP001546,Male,No,0,Graduate,NaN,2980,2083.0,120.0,360.0,1.0,Rural,Y
170,LP001581,Male,Yes,0,Not Graduate,NaN,1820,1769.0,95.0,360.0,1.0,Rural,Y
218,LP001732,Male,Yes,2,Graduate,NaN,5000,0.0,72.0,360.0,0.0,Semiurban,N
231,LP001768,Male,Yes,0,Graduate,NaN,3716,0.0,42.0,180.0,1.0,Rural,Y
236,LP001786,Male,Yes,0,Graduate,NaN,5746,0.0,255.0,360.0,NaN,Urban,N
268,LP001883,Female,No,0,Graduate,NaN,3418,0.0,135.0,360.0,1.0,Rural,N
295,LP001949,Male,Yes,3+,Graduate,NaN,4416,1250.0,110.0,360.0,1.0,Urban,Y
333,LP002101,Male,Yes,0,Graduate,NaN,63337,0.0,490.0,180.0,1.0,Urban,Y
336,LP002110,Male,Yes,1,Graduate,NaN,5250,688.0,160.0,360.0,1.0,Rural,Y
344,LP002128,Male,Yes,2,Graduate,NaN,2583,2330.0,125.0,360.0,1.0,Rural,Y
374,LP002209,Female,No,0,Graduate,NaN,2764,1459.0,110.0,360.0,1.0,Urban,Y
380,LP002226,Male,Yes,0,Graduate,NaN,3333,2500.0,128.0,360.0,1.0,Semiurban,Y
385,LP002237,Male,No,1,Graduate,NaN,3667,0.0,113.0,180.0,1.0,Urban,Y
411,LP002319,Male,Yes,0,Graduate,NaN,6256,0.0,160.0,360.0,NaN,Urban,Y
432,LP002386,Male,No,0,Graduate,NaN,12876,0.0,405.0,360.0,1.0,Semiurban,Y
447,LP002435,Male,Yes,0,Graduate,NaN,3539,1376.0,55.0,360.0,1.0,Rural,N
463,LP002489,Female,No,1,Not Graduate,NaN,5191,0.0,132.0,360.0,1.0,Semiurban,Y
468,LP002502,Female,Yes,2,Not Graduate,NaN,210,2917.0,98.0,360.0,1.0,Semiurban,Y
535,LP002732,Male,No,0,Not Graduate,NaN,2550,2042.0,126.0,360.0,1.0,Rural,Y
542,LP002753,Female,No,1,Graduate,NaN,3652,0.0,95.0,360.0,1.0,Semiurban,Y
579,LP002888,Male,No,0,Graduate,NaN,3182,2917.0,161.0,360.0,1.0,Urban,Y
600,LP002949,Female,No,3+,Graduate,NaN,416,41667.0,350.0,180.0,NaN,Urban,N
601,LP002950,Male,Yes,0,Not Graduate,NaN,2894,2792.0,155.0,360.0,1.0,Rural,Y

In [21]:
df_top = df[df.index < 600]
df_bottom = df[df.index >= 600]

In [22]:
df_top.shape, df_bottom.shape

((597, 13), (14, 13))

In [23]:
df_top.loc[:,'Self_Employed'] = df_top.Self_Employed.fillna('No')
df_bottom.loc[:,'Self_Employed'] = df_bottom.Self_Employed.fillna('Yes')

In [24]:
df = pd.concat([df_top, df_bottom])

In [25]:
df.shape

(611, 13)

In [26]:
df.Self_Employed.value_counts()

Self_Employed
No     527
Yes     84
Name: count, dtype: int64

In [27]:
loan_amt_mean = df.LoanAmount.mean()
df.LoanAmount = df.LoanAmount.fillna(loan_amt_mean)

In [28]:
df.Loan_Amount_Term.unique()

array([360., 120., 240.,  nan, 180.,  60., 300., 480.,  36.,  84.,  12.])

In [29]:
df.Loan_Amount_Term.value_counts()

Loan_Amount_Term
360.0    511
180.0     44
480.0     14
300.0     13
84.0       4
120.0      3
240.0      3
60.0       2
36.0       2
12.0       1
Name: count, dtype: int64

In [30]:
df.Loan_Amount_Term = df.Loan_Amount_Term.fillna(360.0)

In [31]:
df.Credit_History.unique()

array([ 1.,  0., nan])

In [32]:
df.Credit_History.value_counts()

Credit_History
1.0    472
0.0     89
Name: count, dtype: int64

In [33]:
df_top = df[df.index < 306]
df_bottom = df[df.index >= 306]

In [34]:
df_top.shape, df_bottom.shape

((304, 13), (307, 13))

In [35]:
df_top.loc[:,'Credit_History'] = df_top.Credit_History.fillna(1.)
df_bottom.loc[:,'Credit_History'] = df_bottom.Credit_History.fillna(0.)

In [36]:
df = pd.concat([df_top, df_bottom])
df.shape

(611, 13)

In [37]:
df.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.369492,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Urban,Y

## Saving Cleaned Data

In [38]:
df.to_excel('data/copy_loan_cleaned.xlsx', index = None)

## Standardizing and Encoding Dataset

In [39]:
df_cleaned = pd.read_excel('data/copy_loan.xlsx', index_col = 'Loan_ID')
df_cleaned.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [40]:
X = df_cleaned.drop('Loan_Status', axis = 1)
y = df_cleaned['Loan_Status'].copy()

In [41]:
num_values = X.select_dtypes(include = np.number)
cat_values = X.select_dtypes(exclude = np.number)

In [42]:
cat_values.shape, num_values.shape, X.shape

((614, 6), (614, 5), (614, 11))

## Handling The Categorical Columns

In [43]:
cat_values.head()

         Gender Married Dependents     Education Self_Employed Property_Area
Loan_ID
LP001002   Male      No          0      Graduate            No         Urban
LP001003   Male     Yes          1      Graduate            No         Rural
LP001005   Male     Yes          0      Graduate           Yes         Urban
LP001006   Male     Yes          0  Not Graduate            No         Urban
LP001008   Male      No          0      Graduate            No         Urban

In [44]:
def convert_to_0_1(row):
    return 1 if (row == 'Yes') or (row == 'Male') else 0

In [45]:
cat_values['Married'] = cat_values['Married'].apply(convert_to_0_1)
cat_values['Self_Employed'] = cat_values['Self_Employed'].apply(convert_to_0_1)
cat_values['Gender'] = cat_values['Gender'].apply(convert_to_0_1)

In [46]:
cat_values.head()

,Gender,Married,Dependents,Education,Self_Employed,Property_Area
Loan_ID,,,,,,
LP001002,1,0,0,Graduate,0,Urban
LP001003,1,1,1,Graduate,0,Rural
LP001005,1,1,0,Graduate,1,Urban
LP001006,1,1,0,Not Graduate,0,Urban
LP001008,1,0,0,Graduate,0,Urban

In [47]:
cat_values_ordinal = cat_values.loc[:, ['Gender', 'Married', 'Self_Employed']]
cat_values_to_one_hot = cat_values.drop(['Gender', 'Married', 'Self_Employed'], axis = 1)

In [48]:
cat_values_to_one_hot = pd.get_dummies(cat_values_to_one_hot)

In [49]:
cat_values_to_one_hot.head()

,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
Loan_ID,,,,,,,,,
LP001002,True,False,False,False,True,False,False,False,True
LP001003,False,True,False,False,True,False,True,False,False
LP001005,True,False,False,False,True,False,False,False,True
LP001006,True,False,False,False,False,True,False,False,True
LP001008,True,False,False,False,True,False,False,False,True

In [50]:
cat_values_ordinal.head()

          Gender  Married  Self_Employed
Loan_ID
LP001002       1        0              0
LP001003       1        1              0
LP001005       1        1              1
LP001006       1        1              0
LP001008       1        0              0

In [51]:
perfect_cat_values = pd.concat([cat_values_ordinal, cat_values_to_one_hot], axis = 1)

In [52]:
perfect_cat_values.head()

,Gender,Married,Self_Employed,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
Loan_ID,,,,,,,,,,,,
LP001002,1,0,0,True,False,False,False,True,False,False,False,True
LP001003,1,1,0,False,True,False,False,True,False,True,False,False
LP001005,1,1,1,True,False,False,False,True,False,False,False,True
LP001006,1,1,0,True,False,False,False,False,True,False,False,True
LP001008,1,0,0,True,False,False,False,True,False,False,False,True

## Handling The Numerical Columns

In [53]:
num_values.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
Loan_ID,,,,,
LP001002,5849,0.0,NaN,360.0,1.0
LP001003,4583,1508.0,128.0,360.0,1.0
LP001005,3000,0.0,66.0,360.0,1.0
LP001006,2583,2358.0,120.0,360.0,1.0
LP001008,6000,0.0,141.0,360.0,1.0

In [54]:
num_values.Credit_History.value_counts()

Credit_History
1.0    475
0.0     89
Name: count, dtype: int64

In [55]:
perfect_cat_values = pd.concat([perfect_cat_values, num_values['Credit_History']], axis = 1)
num_values = num_values.drop('Credit_History', axis = 1)

In [56]:
perfect_cat_values.head(2)

,Gender,Married,Self_Employed,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Credit_History
Loan_ID,,,,,,,,,,,,,
LP001002,1,0,0,True,False,False,False,True,False,False,False,True,1.0
LP001003,1,1,0,False,True,False,False,True,False,True,False,False,1.0

In [57]:
num_values.head(2)

          ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
Loan_ID
LP001002             5849                0.0         NaN             360.0
LP001003             4583             1508.0       128.0             360.0

In [58]:
num_values_cols = num_values.columns
list(num_values_cols)

['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term']

In [59]:
std = StandardScaler()
num_values_arrays = std.fit_transform(num_values)

### `std.fit` calculates the standard deviation and mean of each columns in the dataset 
### `std.transform` applies the mean and standard deviation to each row in this fomula -> `(x-mean)/standard deviation`

In [60]:
num_values_arrays

array([[ 0.07299082, -0.55448733,         nan,  0.27664167],
       [-0.13441195, -0.03873155, -0.21530913,  0.27664167],
       [-0.39374734, -0.55448733, -0.94032807,  0.27664167],
       ...,
       [ 0.43717437, -0.47240418,  1.24642259,  0.27664167],
       [ 0.35706382, -0.55448733,  0.47462824,  0.27664167],
       [-0.13441195, -0.55448733, -0.15683986,  0.27664167]])

In [61]:
standardized_num_values = pd.DataFrame(num_values_arrays, columns = list(num_values_cols), index = num_values.index)
standardized_num_values.head()

          ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term
Loan_ID
LP001002         0.072991          -0.554487         NaN          0.276642
LP001003        -0.134412          -0.038732   -0.215309          0.276642
LP001005        -0.393747          -0.554487   -0.940328          0.276642
LP001006        -0.462062           0.251980   -0.308860          0.276642
LP001008         0.097728          -0.554487   -0.063289          0.276642

In [62]:
restructured_X = pd.concat([standardized_num_values, perfect_cat_values], axis = 1)
restructured_X.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Gender,Married,Self_Employed,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Credit_History
Loan_ID,,,,,,,,,,,,,,,,,
LP001002,0.072991,-0.554487,NaN,0.276642,1,0,0,True,False,False,False,True,False,False,False,True,1.0
LP001003,-0.134412,-0.038732,-0.215309,0.276642,1,1,0,False,True,False,False,True,False,True,False,False,1.0
LP001005,-0.393747,-0.554487,-0.940328,0.276642,1,1,1,True,False,False,False,True,False,False,False,True,1.0
LP001006,-0.462062,0.251980,-0.308860,0.276642,1,1,0,True,False,False,False,False,True,False,False,True,1.0
LP001008,0.097728,-0.554487,-0.063289,0.276642,1,0,0,True,False,False,False,True,False,False,False,True,1.0

In [63]:
full_df = pd.concat([restructured_X, y], axis =1)
full_df.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Gender,Married,Self_Employed,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Credit_History,Loan_Status
Loan_ID,,,,,,,,,,,,,,,,,,
LP001002,0.072991,-0.554487,NaN,0.276642,1,0,0,True,False,False,False,True,False,False,False,True,1.0,Y
LP001003,-0.134412,-0.038732,-0.215309,0.276642,1,1,0,False,True,False,False,True,False,True,False,False,1.0,N
LP001005,-0.393747,-0.554487,-0.940328,0.276642,1,1,1,True,False,False,False,True,False,False,False,True,1.0,Y
LP001006,-0.462062,0.251980,-0.308860,0.276642,1,1,0,True,False,False,False,False,True,False,False,True,1.0,Y
LP001008,0.097728,-0.554487,-0.063289,0.276642,1,0,0,True,False,False,False,True,False,False,False,True,1.0,Y

In [64]:
len(full_df.columns)

18

In [65]:
full_df['Loan_Status'] = full_df['Loan_Status'].apply(lambda x: 1 if x == 'Y' else 0)

In [66]:
full_df.sample(10)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Gender,Married,Self_Employed,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Credit_History,Loan_Status
Loan_ID,,,,,,,,,,,,,,,,,,
LP002560,-0.443059,0.398019,-0.589512,0.276642,1,0,0,True,False,False,False,False,True,False,True,False,NaN,1
LP002139,0.602802,-0.554487,0.954076,0.276642,1,1,0,True,False,False,False,True,False,False,True,False,1.0,1
LP002140,0.548248,0.870681,1.889585,0.276642,1,0,0,True,False,False,False,True,False,True,False,False,1.0,0
LP002615,-0.088213,1.368994,0.720199,0.276642,1,1,0,False,False,True,False,True,False,False,True,False,1.0,1
LP002931,0.097728,-0.554487,0.685118,-1.567636,1,1,1,False,False,True,False,True,False,False,True,False,1.0,0
LP001516,1.550203,-0.554487,-0.893553,0.276642,0,1,0,False,False,True,False,True,False,False,False,True,1.0,1
LP002757,-0.390962,-0.327733,-0.519349,0.276642,0,1,0,True,False,False,False,False,True,False,True,False,NaN,1
LP001574,-0.277923,0.528326,0.416159,NaN,1,1,0,True,False,False,False,True,False,True,False,False,1.0,1
LP001900,-0.434704,0.075501,-0.367329,0.276642,1,1,0,False,True,False,False,True,False,False,True,False,1.0,1
LP001508,1.040870,-0.554487,0.474628,-2.489775,1,1,0,False,False,True,False,True,False,False,False,True,1.0,1

In [67]:
full_df.to_excel('')

ValueError: No engine for filetype: ''